<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JDBCApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetDataAndUpdateDatabase</display-name>
    <servlet-name>GetDataAndUpdateDatabase</servlet-name>
    <servlet-class>com.aman.Sprint1Userstory.GetDataAndUpdateDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataAndUpdateDatabase</servlet-name>
    <url-pattern>/GetDataAndUpdateDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDataToJsp</display-name>
    <servlet-name>DisplayDataToJsp</servlet-name>
    <servlet-class>com.aman.Sprint1Userstory.DisplayDataToJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDataToJsp</servlet-name>
    <url-pattern>/DisplayDataToJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDatabaseValue</display-name>
    <servlet-name>UpdateDatabaseValue</servlet-name>
    <servlet-class>com.aman.Sprint1Userstory.UpdateDatabaseValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDatabaseValue</servlet-name>
    <url-pattern>/UpdateDatabaseValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletingRowInputComingFromJsp</display-name>
    <servlet-name>DeletingRowInputComingFromJsp</servlet-name>
    <servlet-class>com.aman.Sprint1Userstory.DeletingRowInputComingFromJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletingRowInputComingFromJsp</servlet-name>
    <url-pattern>/DeletingRowInputComingFromJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordEntry</display-name>
    <servlet-name>RecordEntry</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.RecordEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordEntry</servlet-name>
    <url-pattern>/RecordEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestHsql</display-name>
    <servlet-name>TestHsql</servlet-name>
    <servlet-class>com.aman.librarymanagementsystem.TestHsql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestHsql</servlet-name>
    <url-pattern>/TestHsql</url-pattern>
  </servlet-mapping>
</web-app>